body,
header,
main,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

table,
h1,
h2,
h3,
button,
input,
div {
    font-family: 'Roboto', 'Sans Serif';
    font-weight: 300;
}

h1 {
    color: white;
    font-size: 26px;
}

h2 {
    font-size: 24px
}

h3 {
    font-family: 'Andale Mono';
    font-size: 18px;
    font-weight: 100;
    color: #979797;
    padding-bottom: 20px;
}

/* Section */

section {
    background-color: #F6F8FA;
    bottom: 0;
    height: calc(100vh - 190px);
    left: 0;
    margin-top: 110px;
    overflow-y: scroll;
    padding: 30px;
    position: fixed;
    width: 45%;
}

select:focus {
    outline: none;
}

/* Article */

article {
    padding: 40px 0;
    border-bottom: 1px solid #bac6cd;
}

/* Nav */

nav {
    align-items: center;
    background-color: #2C2C2C;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: center;
    padding: 14px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

/* Image */

img {
    border-radius: 100%;
    height: 80px;
    width: 80px;
}

/* Input */

input[type="text"] {
    background-color: #fff;
    border: 1px solid #D9D9D9;
    border-left: 3px solid #F44336;
    border-radius: 2px;
    box-shadow: none;
    color: #555;
    font-size: 14px;
    height: 24px;
    line-height: 1.5;
    margin-bottom: 20px;
    max-width: 550px;
    padding: 3px 8px;
    width: 100%;
}

input[type="text"]:focus {
    outline: 0;
}

/* Button */

button {
    align-items: center;
    background: #F44336;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 100;
    height: 32px;
    justify-content: center;
    padding: 0px 20px;
    text-transform: uppercase;
}

button:hover {
    background: #F7756C;
}

button:focus {
    outline: 0;
}

/* Logger */

pre {
    bottom: 0;
    height: calc(100vh - 228px);
    margin-top: 110px;
    overflow-y: scroll;
    padding: 30px;
    position: fixed;
    right: 0;
    width: 45%;
}

.log-object,
.log-string {
    color: #000;
    display: block;
    font-size: 13px;
    font-weight: 100;
}

.log-object:before,
.log-string:before {
    color: #00BCD4;
    content: "> ";
    font-size: 12px;
    font-weight: 700;
}

/* Table */

table {
    background-color: #fff;
    border-collapse: collapse;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.10);
    display: block;
    font-size: 12px;
    font-weight: 300;
    height: 200px;
    overflow-y: scroll;
    overflow-x: scroll;
    width: 550px;
}

.table-container {
    display: none;
}

thead>tr>th {
    color: #000;
    font-size: 16px;
    font-weight: 100;
    padding: 15px;
    text-align: left;
}

thead {
    border-bottom: 1px solid #DAE1E5;
}

tbody {
    height: 30px;
}

tr {
    border-bottom: 0.4px solid #DAE1E5;
    padding: 10px;
}

td {
    max-width: 300px;
    padding: 10px;
    width: 300px;
}

tbody>td>.ordered-id {
    color: #000;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
}

/* Custom Element Styling */

/* Encrypt and decrypt order input field */

.input-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.input-container-decrypt {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 40px;
}

.encrypt-order-input {
    padding-left: 20px;
    width: 100%;
}

.encrypt-order-input h2 {
    padding-bottom: 20px;
}

.decrypt-order-input {
    padding-left: 20px;
}

.decrypt-order-input>* {
    display: inline-block;
}

.decrypted-orders {
    padding-top: 40px;
}

/* Style Select Elements*/

#crew-member {
    background: transparent;
    border: 0;
    border-bottom: 1px solid black;
    border-radius: 0;
    color: black;
    font-family: 'Roboto', 'Sans Serif';
    font-size: 24px;
    justify-content: center;
    padding-left: 20px;
    width: 150px;
    -webkit-appearance: none;
}

#order-id-to-decrypt {
    background-color: #fff;
    border: 0;
    border: 1px solid #D9D9D9;
    border-left: 3px solid #F44336;
    border-radius: 2px;
    color: #555;
    font-size: 14px;
    margin-bottom: 20px;
    max-width: 550px;
    padding: 8px 11px;
    width: 100%;
    -webkit-appearance: none;
}

.away-team-select {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.away-team-select select {
    margin: 0 20px 20px 0;
}

/* Other */

#alert-box {
    background-color: rgb(49, 49, 49);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
    color:rgb(255, 255, 255);
    display: none;
    padding: 15px 25px;
    position: fixed;
    top: 170px;
    width: 300px;
}

.encrypt-order {
    align-items: baseline;
    display: flex;
}

.orderText {
    color: #A7A7A7;
    font-weight: 100;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#from-element,
#to-element {
    width: 225px;
}

/* MOBILE */

@media screen and (max-width: 1170px) {
    section {
        bottom: 130px;
        height: calc(100vh - 260px);
        overflow-x: hidden;
        padding-bottom: 60px;
        width: 94%;
    }
    pre {
        background-color: white;
        bottom: 0;
        height: 130px;
        left: 0;
        padding: 30px 30px;
        margin: 0;
        width: 100%;
    }
    nav {
        height: 55px;
    }
    nav h1 {
        font-size: 20px;
    }
    nav img {
        height: 40px;
        width: 40px;
    }
    #alert-box {
        top: 100px;
    }
}

@media screen and (max-width: 600px) {
    article {
        padding: 40px 0;
    }
    table {
        width: 93%;
    }
    .away-team-select {
        flex-direction: column;
    }
    .away-team-select>* {
        padding-top: 20px;
    }
    .input-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .encrypt-order-input {
        padding-left: 0;
        padding-top: 20px;
    }
    .encrypt-order {
        width: 90%;
    }
    .decrypt-order-input {
        padding-left: 0;
        padding-top: 20px;
    }
    #order-id-to-decrypt {
        width: 90%;
    }
    #order-ciphertext {
        width: 90%;
    }
}